@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #A65C1C;
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #A65C1C;
  overflow: hidden;
  touch-action: none;
}